* {
    border: 2px solid red;
}

body {
    background-color: linen;
}

#home {
    display: flex;
    border: 2px solid darkblue;
    flex-direction: column;
}

#home-nav, #home-nav-bar, #home-nav-wrap, #menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

h1 {
    display: flex;
}